#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#
mainmenu "Linux/$ARCH $KERNELVERSION Kernel Configuration"

config SRCARCH
	string
	option env="SRCARCH"

# special hack for UEK-OL6 to allow special kABI hacks
config SIMULATE_GCC44_KABI
	bool "Simulate the gcc 4.4 kABI"
	default n

source "arch/$SRCARCH/Kconfig"
