[Unit]
Description=Hyper-V KVP daemon
BindsTo=sys-devices-virtual-misc-vmbus\x21hv_kvp.device

[Service]
Type=simple
ExecStart=/usr/sbin/hv_kvp_daemon -n

[Install]
WantedBy=multi-user.target
