// SPDX-License-Identifier: (GPL-2.0-only or BSD-2-Clause)
/*
 * Device Tree file for AMD Pensando Salina Board.
 *
 * Copyright 2023-2024 Advanced Micro Devices, Inc.
 */

/dts-v1/;

#include "salina-a35.dtsi"
#include "salina-a35-common.dtsi"
#include "elba-flash-parts.dtsi"

/ {
	model = "Salina ASIC Board";
	compatible = "pensando,salina-a35";

	aliases {
		serial0 = &uart0;
		spi0 = &spi0;
		spi1 = &spi1;
	};

	chosen {
		stdout-path = "serial0:9600n8";
	};
};

&emmc_clk {
	clock-frequency = <208000000>;
};

&emmc {
	bus-width = <4>;
	status = "ok";
};

&i2c0 {
	clock-frequency = <100000>;
	status = "okay";

	temp-sensor@1f {
		compatible = "ti,tmp421";
		reg = <0x1f>;
	};
};

&i2c1 {
	clock-frequency = <100000>;
	status = "okay";

	at24c02@51 {
		compatible = "atmel,spd";
		reg = <0x51>;
	};
};

&i2c2 {
	clock-frequency = <100000>;
	status = "okay";

	pca9551@60{
		compatible = "nxp,pca9551";
		reg = <0x60>;
	};
};

&i2c3 {
	clock-frequency = <100000>;
	status = "okay";

	at24c02@50 {
		compatible = "atmel,spd";
		reg = <0x50>;
	};
};

&wdt0 {
	status = "okay";
};

&wdt1 {
	status = "okay";
};

&wdt2 {
	status = "okay";
};

&wdt3 {
	status = "okay";
};
