// SPDX-License-Identifier: (GPL-2.0-only or BSD-2-Clause)
/*
 * Copyright 2023-2024 Advanced Micro Devices, Inc.
 */

&ahb_clk {
	clock-frequency = <4160000>;
};

&emmc_clk {
	clock-frequency = <208000000>;
};

&flash_clk {
	clock-frequency = <2000000>;
};

&ref_clk {
	clock-frequency = <1562500>;	/* UART 115200 works at 19200 */
};

&qspi {
	status = "okay";
	flash0: mt25q@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <250000>;
		spi-rx-bus-width = <4>;
		m25p,fast-read;
		cdns,read-delay = <0>;
		cdns,tshsl-ns = <0>;
		cdns,tsd2d-ns = <0>;
		cdns,tchsh-ns = <0>;
		cdns,tslch-ns = <0>;
	};
};


&gpio0 {
	status = "ok";
};

&gpio1 {
	status = "ok";
};

&emmc {
	status = "ok";
};

&spi0 {
	status = "okay";

	flash1: cysnor@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <50000>;
		spi-rx-bus-width = <1>;
		m25p,fast-read;
		cdns,read-delay = <0>;
		cdns,tshsl-ns = <0>;
		cdns,tsd2d-ns = <0>;
		cdns,tchsh-ns = <0>;
		cdns,tslch-ns = <0>;
	};

	flash2: cysnor@1 {
		compatible = "jedec,spi-nor";
		reg = <1>;
		spi-max-frequency = <50000>;
		spi-rx-bus-width = <1>;
		m25p,fast-read;
		cdns,read-delay = <0>;
		cdns,tshsl-ns = <0>;
		cdns,tsd2d-ns = <0>;
		cdns,tchsh-ns = <0>;
		cdns,tslch-ns = <0>;
	};
};

&spi1 {
	status = "okay";

	flash3: cysnor@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <50000>;
		spi-rx-bus-width = <1>;
		m25p,fast-read;
		cdns,read-delay = <0>;
		cdns,tshsl-ns = <0>;
		cdns,tsd2d-ns = <0>;
		cdns,tchsh-ns = <0>;
		cdns,tslch-ns = <0>;
		};

	flash4: cysnor@1 {
		compatible = "jedec,spi-nor";
		reg = <1>;
		spi-max-frequency = <50000>;
		spi-rx-bus-width = <1>;
		m25p,fast-read;
		cdns,read-delay = <0>;
		cdns,tshsl-ns = <0>;
		cdns,tsd2d-ns = <0>;
		cdns,tchsh-ns = <0>;
		cdns,tslch-ns = <0>;
	};
};
