# SPDX-License-Identifier: GPL-2.0-only
#
# RapidIO master port configuration
#

config RAPIDIO_TSI721
	tristate "IDT Tsi721 PCI Express SRIO Controller support"
	depends on RAPIDIO && PCIEPORTBUS
	default "n"
	---help---
	  Include support for IDT Tsi721 PCI Express Serial RapidIO controller.

config RAPIDIO_CN6XXX
	tristate "Cavium CN6XXX SRIO support"
	depends on RAPIDIO
	help
	  Includes support for Cavium Networks CN6XXX family of serial RapidIO
	  devices.
