#
# Oracle network device configuration
#

config NET_VENDOR_ORACLE
	bool "Oracle network devices"
	default y
	---help---
	  If you have a network (Ethernet) card belonging to this class, say Y
	  and read the Ethernet-HOWTO, available from
	  <http://www.tldp.org/docs.html#howto>.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about Intel cards. If you say Y, you will be asked for
	  your specific card in the following questions.

if NET_VENDOR_ORACLE

config HXGE
        tristate "Sun Microsystems 10Gb Ethernet Adapter "
        depends on PCI
        ---help---
          This driver supports the Hydra 10Gb Ethernet driver.


config HXGE_NAPI
        bool "Use Rx Polling (NAPI)"
        depends on HXGE
        help
          NAPI is a new driver API designed to reduce CPU and interrupt load
          when the driver is receiving lots of packets from the card. It is
          still somewhat experimental and thus not yet enabled by default.

          If your estimated Rx load is 10kpps or more, or if the card will be
          deployed on potentially unfriendly networks (e.g. in a firewall),
          then say Y here.

          See <file:Documentation/networking/NAPI_HOWTO.txt> for more
          information.

          If in doubt, say N.

config SXGE 
	tristate "SXGE SOL ethernet driver "
	depends on PCI
	---help---
	This driver supports the SXGE SOL 40Gb Ethernet driver.  

config SXGEVF 
	tristate "SXGEVF SOL ethernet driver "
	depends on PCI
	---help---
	This driver supports the SXGEVF SOL 40Gb Ethernet driver.  

endif # NET_VENDOR_ORACLE
