if ARCH_PENSANDO

menu "Pensando SoC drivers"

config ARCH_PENSANDO_ELBA_SOC
	bool "Elba SoC"
	default y
	help
	  Support for the Pensando Elba SoC

config PENSANDO_SOC_CAPMEM
	tristate "/dev/capmem driver for the Pensando SoCs"
	depends on OF
	default y
	help
	  Support for the Pensando SoC memory driver

config PENSANDO_SOC_BSM
	bool "Pensando SoC Boot State Machine"
	depends on OF
	default y
	help
	  Support for the Pensando SoC boot state machine driver

config PENSANDO_SOC_BSM_ENABLE
	bool "Enable the Boot State Machine in the kernel"
        depends on PENSANDO_SOC_BSM
	help
	  Re-enable the BSM on kernel startup

endmenu

endif
