if ARCH_PENSANDO

menu "Pensando SoC drivers"

choice
    prompt "SoC Select"
    default ARCH_PENSANDO_CAPRI_SOC

config ARCH_PENSANDO_CAPRI_SOC
	bool "Capri SoC"
	help
	  Support for the Pensando Capri SoC

endchoice

config CAPRI_PCIE
	tristate "PCIe driver for Capri"
	depends on OF && ARCH_PENSANDO_CAPRI_SOC
	default y
	help
	  Provide a PCIe panic handler to respond to host reboots

config CAPRI_CRASH
	tristate "Capri crash driver"
	default y
	help
	  Support for the Pensando Capri crash driver

config CAPRI_BSM
	bool "Capri Boot State Machine"
	default y
	help
	  Support for the Pensando Capri boot state machine driver

config CAPRI_BSM_ENABLE
	bool "Enable the Boot State Machine in the kernel"
        depends on CAPRI_BSM
	help
	  Re-enable the BSM on kernel startup

endmenu

endif
