if ARCH_PENSANDO

menu "Pensando SoC drivers"

choice
    prompt "SoC Select"
    default ARCH_PENSANDO_CAPRI_SOC

config ARCH_PENSANDO_CAPRI_SOC
	bool "Capri SoC"
	help
	  Support for the Pensando Capri SoC

endchoice

endmenu

endif
